@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary-color: #373867;
    --secondary-color: #D9D9D9;
}

/* General */

body {
    margin: 0;
    padding: 0;
    width: 1512px;
    font-family: 'Roboto';
}

p {
    font-size: 20px;
    font-style: normal;
    color: var(--primary-color);
}

/* header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 98px;
    z-index: 1;
    background-color: var(--primary-color);
}

header img {
    padding: 30px;
}

/* sidebar */
aside {
    position: fixed;
    margin-top: 97px;
    width: 313px;
    height: 915px;
    background-color: #AACE9B;
}

nav {
    margin-top: 12px;
    margin-left: 25px;
    margin-right: 25px ;

}

nav a {
    display: list-item;
    margin-top: 16.44px ;
    padding: 8px;
    background-color: white;
    border: 1px solid var(--primary-color);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    list-style: none;
    color: var(--primary-color);
}

.contact-information {
    margin-top: 250px;
    margin-left: 10px;
}

.contact-information h2 {
font-size: 20px;
font-weight: bold;
text-align: center;
text-decoration: underline;
color: white;
}

.contact-information ul {
    margin-left: 0;
    margin-top: 10px;
    list-style: none;
}
.contact-information ul li {
    padding: 8px;
    font-size: 20px;
    color: var(--primary-color);
}

.email-information {
    text-decoration: underline;
}

/* Main */
main {
    padding-top: 104px;
    padding-left: 313px;
}

.welcome-web {
    margin-left: 100px;
    margin-top: 100px;
}
.welcome-web article {
    margin-top: 50px;
    width: 500px;
}

.welcome-one {
    display: inline-block;
    margin-bottom: 100px;
}
.welcome-web h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-color);
}

.welcome-one h2 {
    margin-left: 190px;
    margin-bottom: 34px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #49A37B;
}
.welcome-one p {
    text-align: center;
}

.welcome-two {
    float: right;
}

.welcome-two img {
    margin-right: 60px;
    width: 500px;
    height: 315px;
}

.titles {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 51px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: #49A37B underline;
    color: var(--primary-color);
}

.features article {
    display: inline-block;
    margin-left: 120px;
    margin-top: 50px;
}

.features h3 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-color);
}

.features img {
    float: left;
    padding: 0 15px;
    width: 43px;
    height: 38px;
}

.features p {
    margin-left: 70px;
    margin-bottom: 5px;
    width: 337px;
    height: 115px;
    text-align: left;
}

.about-megarocket article {
    margin: auto;
    margin-top: 30px;
    width: 870px;
}

.about-one img {
    width: 453px;
    height: 248px;

}

.about-one p {
    float: right;
    width: 350px;
    text-align: right;
    font-size: 18px;
}

.about-two img {
    margin-left: 63px;
    width: 453px;
    height: 248px;
}

.about-two p {
    float: left;
    width: 350px;
    height: 115px;
    text-align: left;
    font-size: 18px;
}

.get-in-touch form {
    margin-left: 150px;
    margin-top: 60px;
}

.get-in-touch label {
    display: block;
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: bold;
    color: var(--primary-color);
}

.personal-information {
    float: left;
}

.personal-information input {
    margin-bottom: 10px;
    padding: 10px;
    width: 260px;
    border: 2px solid var(--primary-color);
    border-radius: 4px;
}

.submit-btn input {
    margin-top: 25px;
    padding: 14px 36px;
    width: 123px;
    height: 47px;
    border: none;
    background-color: #AACE9B;
    font-size: 16px;
    color: var(--primary-color);
}

.contact-us {
    margin-left: 390px;
}

.contact-us select {
    margin-bottom: 10px;
    padding: 10px;
    width: 566px;
    border: 2px solid var(--primary-color);
    border-radius: 4px;
}

.message textarea {
    margin-bottom: 10px;
    padding: 10px;
    width: 540px;
    height: 191px;
    border: 2px solid var(--primary-color);
    border-radius: 4px;
}

.activities {
    margin-top: 88px;
    margin-left: 133px;
}

.gym-activities h2 {
    margin-bottom: 66px;
}

.gym-activities ul {
    float: left;
    margin-top: 20px;
    margin-right: 100px;
    margin-left: 70px;
}

.gym-activities li {
   margin-top: 15px;
    color: var(--primary-color);
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
    list-style: inside;
}

.activities-img {
    display: inline-block;
}

.activities-img img {
    width: 550px;
    height: 245px;
}

.member-table {
    margin-top: 62px;
    margin-left: 109px;
    margin-bottom: 65px;
}

.memberships th {
    padding: 20px;
    width: 98px;
    font-weight: bold;
    color: var(--primary-color);
}

.table-one {
    background-color: #D9D9D9;
}

.table-white td {
    padding: 20px;
    width: 200px;
    font-weight: bold;
    color: var(--primary-color);
}

.table-white img {
    margin-left: 97px;
}

.table-grey {
    background-color: #D9D9D9;
}
.table-grey td {
    padding: 20px;
    width: 98px;
    font-weight: bold;
    color: var(--primary-color);
}

.table-grey img {
    margin-left: 97px;
}

footer {
    margin-left: 109px;
    padding: 8px;
    background-color: #AACE9B;
}

footer a {
    display: inline-block;
    padding: 8px;
    border: none;
    background-color: #AACE9B;
}

footer div {
    margin-left: 650px;
}

footer p {
    margin-left: 550px;
    font-size: 14px;
    color: #FFFFFF;
}
