<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../CSS/reset.css" />
    <link rel="stylesheet" href="../CSS/styles.css" />
    <link rel="stylesheet" href="../CSS/header.css" />
    <link rel="stylesheet" href="../CSS/aside.css" />
    <link rel="stylesheet" href="../CSS/content.css" />
    <link rel="stylesheet" href="../CSS/footer.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mega Rocket</title>
  </head>
  <body>
    <header>
      <div class="header">
        <img src="/assets/img/logo-megarcoket.png" alt="logo Megarocket" />
        <div class="menu">
          <img src="/assets/img/menu-icon.svg" alt="menu-icon" />
        </div>
      </div>
    </header>
    <div class="general-conteiner">
      <aside class="aside">
        <nav>
          <a href="#">
            <img src="/assets/img/home-button.png" alt="home icon" />
            Home
          </a>
          <a href="#">
            <img src="/assets/img/sign-up.png" alt="Sign up" />
            Sign Up
          </a>
          <a href="#">
            <img src="/assets/img/sign-in.png" alt="Sign in" />
            Sign In
          </a>
        </nav>
        <div class="contact-information">
          <h2>Contact Information</h2>
          <ul>
            <li class="email-information">
              <img
                src="/assets/img/mail-icon.svg"
                alt="mail icon"
              />infromation@untitled.tld
            </li>
            <li>
              <img
                src="/assets/img/phone-icon.svg"
                alt="phone icon"
              />(000)000-000
            </li>
            <li>
              <img src="/assets/img/home-icon.svg" alt="home icon" />1234
              Somewhere Road #8254 Nashville, TN
            </li>
          </ul>
        </div>
      </aside>
      <div class="sub-conteiner">
        <div class="main">
          <main>
            <section class="welcome-web">
              <article class="welcome-one">
                <h1>Mega Rocket Web</h1>
                <h2>Welcome</h2>
                <p>
                  Mega Rocket Web is a monthly management system for member and
                  trainers so that they can dinamically sign up for their
                  activities in the gym
                </p>
              </article>
              <div class="welcome-two">
                <img src="/assets/img/gym-picture.png" alt="picture gym" />
              </div>
            </section>
            <section class="features">
              <h2 class="titles">Features</h2>
              <div class="right-articles">
                <article class="features-article">
                  <img
                    src="/assets/img/calendar-icon.png"
                    alt="calendar icon"
                  />
                  <h3>Shift Reservations</h3>
                  <p>
                    Aenean ornare velit lacus, ac varius enim lorem ullamcorper
                    dolore. Proin aliquam facilisis ante interdum. Sed nulla
                    amet lorem feugiat tempus aliquam.
                  </p>
                </article>
                <article class="features-article">
                  <img src="/assets/img/note-icon.jpg" alt="note icon" />
                  <h3>Membership Management</h3>
                  <p>
                    Aenean ornare velit lacus, ac varius enim lorem ullamcorper
                    dolore. Proin aliquam facilisis ante interdum. Sed nulla
                    amet lorem feugiat tempus aliquam.
                  </p>
                </article>
              </div>
              <div class="right-articles">
                <article class="features-article">
                  <img
                    src="/assets/img/schedules-icon.jpg"
                    alt="schedules icon"
                  />
                  <h3>Scheduling & opening hours</h3>
                  <p>
                    Aenean ornare velit lacus, ac varius enim lorem ullamcorper
                    dolore. Proin aliquam facilisis ante interdum. Sed nulla
                    amet lorem feugiat tempus aliquam.
                  </p>
                </article>
                <article class="features-article">
                  <img
                    src="/assets/img/contact-icon.jpg"
                    alt="contact icon"
                  />
                  <h3>Contact form & suggestions</h3>
                  <p>
                    Aenean ornare velit lacus, ac varius enim lorem ullamcorper
                    dolore. Proin aliquam facilisis ante interdum. Sed nulla
                    amet lorem feugiat tempus aliquam.
                  </p>
                </article>
              </div>
            </section>
            <section class="about-megarocket">
              <h2 class="titles">About Mega Rocket</h2>
              <article class="about-article-up">
                <img
                  src="/assets/img/gym-weigth-room-png.png"
                  alt="Weigth Room Photo"
                />
                <p>
                  Aenean ornare velit lacus, ac varius enim lorem ullamcorper
                  dolore. Proin aliquam facilisis ante interdum. Sed nulla amet
                  lorem feugiat tempus aliquam. Aenean ornare velit lacus, ac
                  varius enim lorem ullamcorper dolore. Proin aliquam facilisis
                  ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                  Aenean ornare velit lacus, ac varius enim lorem ullamcorper
                  dolore. Proin aliquam facilisis ante interdum. Sed nulla amet
                  lorem feugiat tempus aliquam.
                </p>
              </article>
              <button> Learn More </button>
              <article class="about-article-down">
                <p>
                  Aenean ornare velit lacus, ac varius enim lorem ullamcorper
                  dolore. Proin aliquam facilisis ante interdum. Sed nulla amet
                  lorem feugiat tempus aliquam. Aenean ornare velit lacus, ac
                  varius enim lorem ullamcorper dolore. Proin aliquam facilisis
                  ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                </p>
                <img
                  src="/assets/img/gym-treadmills.png"
                  alt="Treadmills photo"
                />
              </article>
              <button> Learn More </button>
            </section>
            <section class="get-in-touch">
              <h2 class="titles">Get in touch</h2>
              <form action="form_submit.php" method="post">
                <div class="personal-information">
                  <div class="first-name">
                    <label for="first-name"> First Name </label>
                    <input
                      id="first-name"
                      placeholder="Enter name"
                      type="text"
                    />
                  </div>
                  <div class="last-name">
                    <label for="last-name"> Last Name </label>
                    <input
                      id="last-name"
                      placeholder="Enter last name"
                      type="text"
                    />
                  </div>
                  <div class="email-adress">
                    <label for="email-adress"> Email adress </label>
                    <input
                      id="email-adress"
                      placeholder="Enter adress"
                      type="text"
                    />
                  </div>
                  <div class="submit-left">
                    <input type="submit" value="Submit" />
                  </div>
                </div>
                <div class="contact-us">
                  <div class="contact-reason">
                    <label for="contact-reason"> Contact reason </label>
                    <select name="Contact reason" id="contact-reason">
                      <option value=" Contact reason" disabled selected hidden>
                        Contact reason
                      </option>
                      <option value="I want to make a claim">
                        I want to make a claim
                      </option>
                      <option value="I want to realize a query or suggestion">
                        I want to realize a query or suggestion
                      </option>
                      <option value="I want to know de memberships and costs">
                        I want to know de memberships and costs
                      </option>
                    </select>
                  </div>
                  <div class="message">
                    <label for="Message"> Message </label>
                    <textarea
                      name="Enter your message"
                      id=""
                      placeholder="Enter your message"
                    ></textarea>
                  </div>
                  <div class="submit-btn">
                    <input type="submit" value="Submit" />
                  </div>
                </div>
              </form>
            </section>
            <section class="gym-activities">
              <h2 class="titles">Gym Activities</h2>
              <div class="activities">
                <ul class="activities-list">
                  <div class="column-activities">
                    <li>Crossfit</li>
                    <li>Spinning</li>
                    <li>Functional</li>
                  </div>
                  <div class="column-activities">
                    <li>Fitness</li>
                    <li>Boxing</li>
                  </div>
                </ul>
                <img
                  src="/assets/img/wide-angle-photo.png"
                  alt="gym widht angle photo"
                />
              </div>
            </section>
            <section class="memberships">
              <h2 class="titles">Memberships</h2>
              <table class="member-table">
                <tr class="table-one">
                  <th class="th"></th>
                  <th class="memberships-th">Only Classes</th>
                  <th class="memberships-th">Classic</th>
                  <th class="memberships-th">Black</th>
                </tr>
                <tr class="table-white">
                  <td>Free access to the fitness room</td>
                  <td>
                    <img
                      src="/assets/img/cross-icon-memberships.png"
                      alt="cross icon"
                    />
                  </td>
                  <td>
                    <img
                      src="/assets/img/check-icon-membership.png"
                      alt="check icon"
                    />
                  </td>
                  <td>
                    <img
                      src="/assets/img/check-icon-membership.png"
                      alt="check icon"
                    />
                  </td>
                </tr>
                <tr class="table-grey">
                  <td>Free access to classes prior enrollment</td>
                  <td>
                    <img
                      src="/assets/img/check-icon-membership.png"
                      alt="check icon"
                    />
                  </td>
                  <td>
                    <img
                      src="/assets/img/cross-icon-memberships.png"
                      alt="cross icon"
                    />
                  </td>
                  <td>
                    <img
                      src="/assets/img/check-icon-membership.png"
                      alt="check icon"
                    />
                  </td>
                </tr>
                <tr class="table-white">
                  <td>Personalized follow-up by trainer</td>
                  <td>
                    <img
                      src="/assets/img/cross-icon-memberships.png"
                      alt="cross icon"
                    />
                  </td>
                  <td>
                    <img
                      src="/assets/img/check-icon-membership.png"
                      alt="check icon"
                    />
                  </td>
                  <td>
                    <img
                      src="/assets/img/check-icon-membership.png"
                      alt="check icon"
                    />
                  </td>
                </tr>
                <tr class="table-grey">
                  <td>Schedulling visualization</td>
                  <td>
                    <img
                      src="/assets/img/check-icon-membership.png"
                      alt="check icon"
                    />
                  </td>
                  <td>
                    <img
                      src="/assets/img/check-icon-membership.png"
                      alt="check icon"
                    />
                  </td>
                  <td>
                    <img
                      src="/assets/img/check-icon-membership.png"
                      alt="check icon"
                    />
                  </td>
                </tr>
              </table>
            </section>
          </main>
        </div>
        <footer>
          <div>
            <a href="#">
              <img src="/assets/img/linkedin-icon.png" alt="Linkedin icon" />
            </a>
            <a href="#">
              <img
                src="/assets/img/facebook-icon.png"
                alt="Facebook icon"
                srcset=""
              />
            </a>
            <a href="#">
              <img
                src="/assets/img/instagram-icon.png"
                alt="Instagram icon"
              />
            </a>
          </div>
          <p>Copyright © 2022 Radium Rocket. All rights reserved.</p>
        </footer>
      </div>
    </div>
  </body>
</html>
